<div class="jumbotron">

   <center>
       <h1>Welcome to Zack's Zas</h1>

       <img src="http://ecx.images-amazon.com/images/I/412LJeHWZ2L._SX342_.jpg">
       <br>

       <%= link_to "Check out our Pizzas!", pizzas_path, class: "btn btn-default" %>
   </center>
</div>